[Unit]
Description=Runs the veronica chat app
[Service]
ExecStart=/srv/blop/web_server/example_servers/run_veronica.sh
[Install]
RequiredBy=multi-user.target