[Unit]
Description=Runs the Superbrain Telnet service
[Service]
ExecStart=/srv/blop/web_server/services/run_superbrain.sh
[Install]
RequiredBy=multi-user.target