[Unit]
Description=Updates the compass website index HTML files
Wants=update_compass_index.timer
[Service]
Type=oneshot
ExecStart=/srv/blop/website_index_handler/services/update_compass_index_file.sh
[Install]
RequiredBy=multi-user.target