[Unit]
Description=Updates the compass website website index HTML file every 5 minutes
Requires=update_compass_index.service
[Timer]
Unit=update_compass_index.service
OnCalendar=*:0/5
[Install]
WantedBy=multi-user.target